
/*********************start with*************/
.start-with {
  background-color: rgb(234, 234, 234);
  padding: 40px;
}
.start-with h2
  {
  margin: 25px 0;
  font-weight: 400;
  font-size: 22px;
  color: black;
  line-height: 30px;
  text-align: center;
}
.start {
  padding: 15px 30px;
  background-color: #00abd1;
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
}

/******************media queries*************/

@media (min-width: 600px) {
  .start-with {
    border-top: 3px solid rgb(213, 213, 213);
  }
  .question {
    font-size: 18px;
  }
  .start {
    font-size: 13px;
  }
}
